*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #33435f;
}
main{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    margin: 3vw;
    color: #9fbec6;
}
#grid1{
    width: 300px;
    height: 200px;
    background-color: #9fbec6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}
#gridItem1{
    border: solid 1px #ffffff;
    background-color: #748e94;
    grid-column-start: 1;
    grid-column-start: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}
#gridItem{
    border: solid 1px #ffffff;
}
#grid2{
    overflow: hidden;
    border-radius: 1vw;
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: solid 1px #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#grid2 *{
    border-radius: .3vw;
    color: #33435f;
    border: solid 1px #ffffff;
}
#gridItem2-1{
    background-color: #9fbec6;
    grid-column-start: 1;
    grid-column-end: span 3;
}
#itemList{
    margin: 3px;
}
#gridItem2{
    text-align: center;
    background-color: #9fbec6;
}
#gridItem2:nth-child(2){
    grid-row-start: 2;
    grid-row-end: span 3;
}