:root{
    --fuente-container: 'Roboto Mono', monospace;
    --color-texto: #ffffff;
    --color-borde: #dab250;
    --subrayado: 2px underline #dab250;
    --font-size-titles: 3.5vh;
    --font-size-p:2.5vh;
}
body{
    background-color: #38d095;
}
#nombre, #subtitulo{
    text-align: center;
}
#fotoPortada img{
    margin: 1em 0 0;
    width: 40vh;
    height: 100%;
}
p{
    font-size: var(--font-size-p);
    color: var(--color-texto);
}
ul{
    padding: 0;
}
li{
    list-style: none;
    font-family: var(--fuente-container);
}
h1,h2{
    font-size: var(--font-size-titles);
    color: var(--color-texto);
    text-decoration: var(--subrayado);
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
h3{
    color: var(--color-texto);
    text-decoration: var(--subrayado);
    font-family: var(--fuente-container);
    font-size: var(--font-size-titles);
}
#container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    font-size: var(--font-size-p);
    color: #dab250;
    text-decoration: none;
}
a:hover{
    color: #866d31;
}
.infoCV{
    width: 90%;
    margin: 1em 0;
    border: outset .5em var(--color-borde);
}
footer{
    text-align: center;
    margin-top: 2em;
    border-top: solid 1px var(--color-borde);
}
@media (max-width:600px){
    #fotoPortada img{
        width: 30vh;
    }
}